@{
    ViewData["Title"] = "Home Page";
}
@model Task4.ViewModels.NewGameModel
@Html.ValidationSummary()
<div class="text-center">
    <h2>Select game</h2>
    <input name="tagsFilter" id="filter" placeholder="Enter tag" onkeyup="tableSearch()">
    <section id="menu">
        @foreach (var item in ViewBag.Games)
        {
            <gameCell class="gameCell">
                <h2>@item.Name</h2>
                <p class="tag">@item.Tags</p>
                <a id="join" name="@item.Name" class="btn btn-primary" asp-route-name="@item.Name" asp-area="" asp-controller="Home" asp-action="JoinTheGame">Go</a>
            </gameCell>
        }
    </section>
    <h2>Создайте игру</h2>
    <form method="post" asp-controller="Home" asp-action="CreateNewGame">
        <div class="form-group">
            <label asp-for="Name">Game name</label>
            <input id="newgame" type="text" asp-for="Name" class="form-control" placeholder="Enter game name">
            <span asp-validation-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Tags">Enter tags</label>
            <input name="newtags" id="newtag"   placeholder="#tags" >
            <input id="hiddenTags" name="tags" class="form-control" maxlength="30" type="hidden" asp-for="Tags"/>
            <span asp-validation-for="Tags" />
        </div>
        <button id="create" value="Create" type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Index.js"></script>
<script src="~/js/tagify.min.js"></script>
<script type="text/javascript">
    var input = document.querySelector('input[name="tagsFilter"]'), input2 = document.querySelector('input[name="newtags"]')

            tagify2 = new Tagify(input2, {
                maxTags: 10,
                dropdown: {
                    maxItems: 20,
                    classname: "tags-look",
                    enabled: 0,
                    closeOnSelect: false
                }
        })
    $('form').submit(function () {
        var str="", array = JSON.parse($('#newtag').val());
        array.forEach(item=>
        {
            str += item.value+",";  
        })
        str = str.substring(0,(str.length - 1));
        $('#hiddenTags').val(str);
        return true;
    });
</script>
